<p id="notice"><%= notice %></p>

<h1>Permissions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= link_to 'Show', [:admin, permission] %></td>
        <td><%= link_to 'Edit', edit_admin_permission_path(permission) %></td>
        <td><%= link_to 'Destroy', [:admin, permission], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permission', new_admin_permission_path %>
