<h1>Permissions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th> User Name </th>
      <th> Username </th>
      <th> Form Title </th>
      <th> Form Display Title </th>
      <th> Permission Type </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td> <%= permission.user.name %> </td>
        <td> <%= permission.user.username %> </td>
        <td> <%= permission.form.title %> </td>
        <td> <%= permission.form.display_title %> </td>
        <td> <%= permission.permission %> </td>
        <td> <%= link_to 'Show', [:admin, permission] %> </td>
        <td> <%= link_to 'Edit', edit_admin_permission_path(permission) %> </td>
        <td> <%= link_to 'Destroy', [:admin, permission], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permission', new_admin_permission_path %>
