<div class="row">
  <div class="col-6" style="display:none;">
    <!-- IDNO FIELD -->
    <!-- ====================================== --> 
    <a href="#" class="add-field-btn col mb-1"  
                data-action="click->form-builder#newField"
                data-target="form-builder.addIdnoField" 
                data-type="idno"
                data-template="idnoTemplate" 
                data-json='{"name": "idno",
                  "position": "",
                  "type": "idno",
                  "label": "Identifier",
                  "value": "",
                  "placeholder": "",
                  "id": "idno",
                  "class": "",
                  "style": "",
                  "required": "true",
                  "no_duplicates": "true",
                  "read_only": "false",
                  "disabled": "false",
                  "disabled_on_insert": "false",
                  "disabled_on_update": "false",
                  "public_release": "true",
                  "oai_release": "true",
                  "sortable": "true",
                  "searchable": "true",
                  "display_in_list": "true",
                  "hidden": "",
                  "validation": "",
                  "validation_regex": "",
                  "metadata_standards": [],
                  "help_type": "",
                  "help": "",
                  "managed_by": "User",
                  "idno_format": "",
                  "start_increment": "1"
                }'
    > 
      IDNO 
    </a>
  </div>

  <!-- SINGLE LINE TEXT FIELD -->
  <!-- ====================================== --> 
  <div class=" col-6">
    <!-- data attributes are used to hook into JS events -->
    <a href="#" class="add-field-btn col mb-1"  
                data-action="click->form-builder#newField"
                data-target="form-builder.addSingleTextField" 
                data-type="text"
                data-template="textTemplate" 
                data-json='{
                  "name": "Untitled",
                  "position": "",
                  "type": "text",
                  "label": "Untitled",
                  "value": "",
                  "placeholder": "Untitled Text",
                  "id": "",
                  "class": "",
                  "style": "",
                  "help_type": "",
                  "required": "false",
                  "no_duplicates": "false",
                  "readonly": "false",
                  "disabled": "false",
                  "disabled_insert": "false",
                  "disabled_update": "false",
                  "public_release": "false",
                  "oai_release": "",
                  "sortable": "false",
                  "searchable": "false",
                  "display_in_list": "false",
                  "hidden": "",
                  "validation": "",
                  "validation_regex": "",
                  "metadata_standard": ":",
                  "help": "",
                  "min": "",
                  "max": "",
                  "format": "characters"
                }' > 
      Single line Text
    </a>
  </div>

  <div class=" col-6">
    <!-- data attributes are used to hook into JS events -->
    <a href="#" class="add-field-btn col mb-1"          
                data-action="click->form-builder#newField"
                data-target="form-builder.addTextareaField"
                data-type="textarea"
                data-template="textareaTemplate" 
                data-json='{
                  "name": "Untitled",
                  "position": "",
                  "type": "textarea",
                  "label": "Untitled",
                  "value": "",
                  "placeholder": "Untitled Text",
                  "id": "",
                  "class": "",
                  "style": "",
                  "help_type": "",
                  "required": "false",
                  "no_duplicates": "false",
                  "readonly": "false",
                  "disabled": "false",
                  "disabled_insert": "false",
                  "disabled_update": "false",
                  "public_release": "false",
                  "oai_release": "false",
                  "sortable": "false",
                  "searchable": "false",
                  "display_in_list": "false",
                  "hidden": "",
                  "validation": "",
                  "validation_regex": "",
                  "metadata_standard": ":",
                  "help": "",
                  "min": "",
                  "max": "",
                  "format": "characters"
                }' 
    > 
     Paragraph Text 
    </a>
  </div>

  <div class=" col-6">
    <a href="#" class="add-field-btn col mb-1" 
        data-action="click->form-builder#newField"
        data-target="form-builder.addNumberField" 
        data-type="number"
        data-template="numberTemplate" 
        data-json='{
          "name": "UntitledNumberField",
          "position": "",
          "type": "textarea",
          "label": "Untitled Number Field",
          "value": "",
          "placeholder": "1",
          "id": "",
          "class": "",
          "style": "",
          "help_type": "",
          "required": "false",
          "no_duplicates": "false",
          "readonly": "false",
          "disabled": "false",
          "disabled_insert": "false",
          "disabled_update": "false",
          "public_release": "true",
          "oai_release": "false",
          "sortable": "false",
          "searchable": "false",
          "display_table": "false",
          "hidden": "false",
          "validation": "integer",
          "validation_regex": "",
          "metadata_standard": [],
          "help": "",
          "min_number": "",
          "max_number": "",
          "step": "1",
          "format": "value"
        }' 
    >
    Number
    </a>
  </div>

  <div class=" col-6">
    <a href="#" class="add-field-btn col mb-1"
        data-action="click->form-builder#newField"
        data-target="form-builder.addSelectField" 
        data-type="select"
        data-template="selectTemplate" 
        data-json='{
          "name": "untitled",
          "position": "",
          "type": "select",
          "label": "Untitled Dropdown",
          "value": "",
          "placeholder": "",
          "id": "",
          "class": "",
          "style": "",
          "help_type": "",
          "required": "false",
          "no_duplicates": "false",
          "readonly": "false",
          "disabled": "false",
          "disabled_insert": "false",
          "disabled_update": "false",
          "public_release": "true",
          "oai_release": "false",
          "sortable": "false",
          "searchable": "false",
          "display_table": "false",
          "hidden": "",
          "validation": "",
          "validation_regex": "",
          "metadata_standard": [],
          "help": "",
          "choice_type": "manual",
          "choice_null": "true",
          "choice_form": "",
          "choice_field": "",
          "choice_field_default": ""
        }' 
    > Dropdown </a>
  </div>

  <div class=" col-6">
    <a href="#" class="add-field-btn col mb-1" 
      data-action="click->form-builder#newField" 
      data-target="form-builder.addMultiselectField"
      data-type="multiselect"
      data-template="multiselectTemplate" 
      data-json='{
        "name": "untitled",
        "position": "",
        "type": "multiselect",
        "label": "Untitled MultiSelect",
        "value": "",
        "placeholder": "",
        "id": "",
        "class": "",
        "style": "",
        "help_type": "",
        "required": "false",
        "no_duplicates": "false",
        "readonly": "false",
        "disabled": "false",
        "disabled_insert": "false",
        "disabled_update": "false",
        "public_release": "true",
        "oai_release": "",
        "sortable": "",
        "searchable": "",
        "display_table": "",
        "hidden": "",
        "validation": "",
        "validation_regex": "",
        "metadata_standard": [],
        "help": "",
        "choices_type": "manual",
        "choices_null": "true",
        "choices_form": "",
        "choices_field": "",
        "choices_field_default": ""
      }'
    >Multi-Select</a>
  </div>

  <div class=" col-6">
    <a href="#" class="add-field-btn col mb-1"
      data-action="click->form-builder#newField" 
      data-target="form-builder.addFileField"
      data-type="file"
      data-template="fileTemplate" 
      data-json='{      
        "name": "files",
        "type": "file",
        "label": "File Uploads",
        "value": "",
        "placeholder": "",
        "id": "",
        "class": "",
        "style": "",
        "help_type": "",
        "required": "false",
        "no_duplicates": "false",
        "readonly": "false",
        "disabled": "false",
        "disabled_insert": "false",
        "disabled_update": "false",
        "public_release": "true",
        "oai_release": "",
        "sortable": "",
        "searchable": "",
        "display_table": "false",
        "hidden": "",
        "validation": "",
        "validation_regex": "",
        "metadata_standard": [],
        "help": "",
        "multiple_files": "true",
        "combine": "true",
        "ocr": "false",
        "convert_image": "false",
        "image_height": "600",
        "image_width": "800",
        "image_format": "JPG",
        "watermark": "false",
        "watermark_image": "",
        "watermark_location": "",
        "border": "false",
        "border_height": "",
        "border_width": "",
        "border_color": "",
        "thumbnail": "false",
        "convert_audio": "",
        "audio_bitrate": "",
        "audio_format": "mp3",
        "convert_video": "false",
        "video_height": "720",
        "video_width": "1280",
        "video_bitrate": "",
        "video_format": "mp4",
        "video_thumbnail": "false",
        "video_thumbnail_frames": "5",
        "video_thumbnail_height": "200",
        "video_thumbnail_width": "200",
        "video_thumbnail_format": "JPG",
        "allowed_extensions": [
          "tif"
        ],
        "image_resolution": "120",
        "image_format": "JPG",
        "thumbnail_height": "200",
        "thumbnail_width": "200",
        "thumbnail_format": "JPG", 
        "thumbnail_resolution": "90" 
      }'
    > File Upload</a>
  </div>

  <div class=" col-6">
    <a href="#" class="add-field-btn col mb-1" 
                data-action="click->form-builder#newField"
                data-target="form-builder.addWysiwygField" 
                data-type="wysiwyg"
                data-template="wysiwygTemplate" 
                data-json='{
                  "name": "UntitledWYSIWYG",
                  "position": "",
                  "type": "wysiwyg",
                  "label": "Untitled WYSIWYG",
                  "value": "",
                  "placeholder": "Untitled Text",
                  "id": "",
                  "class": "",
                  "style": "",
                  "help_type": "",
                  "required": "false",
                  "no_duplicates": "false",
                  "readonly": "false",
                  "disabled": "false",
                  "disabled_insert": "false",
                  "disabled_update": "false",
                  "public_release": "false",
                  "oai_release": "false",
                  "sortable": "false",
                  "searchable": "false",
                  "display_in_list": "false",
                  "hidden": "",
                  "validation": "",
                  "validation_regex": "",
                  "metadata_standard": ":",
                  "help": "",
                  "min": "",
                  "max": "",
                  "format": "characters"
                }' 
    >WYSIWYG</a>
  </div>
</div>

<!-- New Field Templates -->
  <% base_template_path = 'components/form_builder/templates'%>

  <%= render partial: "#{base_template_path}/base_template", locals: { template_path: "#{base_template_path}/idno_template", target_name: 'form-builder.idnoTemplate' } %>

  <%= render partial: "#{base_template_path}/base_template", locals: { template_path: "#{base_template_path}/text_template", target_name: 'form-builder.textTemplate' } %>

  <%= render partial: "#{base_template_path}/base_template", locals: { template_path: "#{base_template_path}/textarea_template", target_name: 'form-builder.textareaTemplate' } %>

  <%= render partial: "#{base_template_path}/base_template", locals: { template_path: "#{base_template_path}/select_template", target_name: 'form-builder.selectTemplate' } %>

    <%= render partial: "#{base_template_path}/base_template", locals: { template_path: "#{base_template_path}/multiselect_template", target_name: 'form-builder.multiselectTemplate' } %>

  <%= render partial: "#{base_template_path}/base_template", locals: { template_path: "#{base_template_path}/number_template", target_name: 'form-builder.numberTemplate' } %>

  <%= render partial: "#{base_template_path}/base_template", locals: { template_path: "#{base_template_path}/wysiwyg_template", target_name: 'form-builder.wysiwygTemplate' } %>

  <%= render partial: "#{base_template_path}/base_template", locals: { template_path: "#{base_template_path}/file_template", target_name: 'form-builder.fileTemplate' } %>