<% form_for :form_builder, form  do |f| %>
  <div class="field">
    <!-- Label -->
    <%= form.label :title, class: 'required' %> 
    <!-- Popover -->
    <span class="far fa-question-circle field-help" data-toggle="popover" data-trigger="click focus" data-content="The form name is a unique value that is used to identify a form."></span>
    <!-- Field -->
    <%= form.text_field :title, class: 'required' %>
  </div>
<% end %>

<%= form_for :fields do |form| %>

  <%= render "components/form_builder/fields/shared/general", form: form %>
  <%= render "components/form_builder/fields/shared/field_options", form: form %>
  <%= render "components/form_builder/fields/shared/validation", form: form %>
  <%= form.submit  %>
<% end  %>