<div class="well">
  <%= form.fields_for :metdata_mappings do |metadata_mapping_form| %>

    <div class="field"> 
      <%= metadata_mapping_form.label :schema %>
      <div class="select-style">
        <%= metadata_mapping_form.select :schema, MetadataMappings.schemas, selected: vendor_id, :prompt => 'Select a Vendor ...' %>
      </div>
    </div>

    <div class="field">
      <%= metadata_mapping_form.label :identifier %>
      <%= metadata_mapping_form.text_field :identifier %>
    </div>
    
    <div class="field">
      <%= metadata_mapping_form.label :qualifier %>
      <%= metadata_mapping_form.text_field :qualifier %>
    </div>
  <% end %>
</div>