<!DOCTYPE html>
<html>
  <head>
    <title>Mfcs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :css %>
    
    <!-- Base Webpack JS -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Header -->
    <%# render "components/header/header" %>

    <!-- Navigation -->
    <%= render "components/navigation/navigation" %>
    
    <!-- Breadcrumbs -->
    <%= render "components/top_bar/top_bar" %>
    
    <!-- Alerts -->
    <%= render "components/alerts/alerts" %>

    <!-- Content Yield -->
    <main> 
      <div class="container-fluid"> 
        <%= yield %>
      </div>
    </main> 
    
    <!-- Logout ... change this at somepoint. -->
    <%# link_to('Logout', destroy_user_session_path, method: :delete) %>

    <!-- Footer -->
    <%= render "components/footer/footer" %>
    
    <%= yield :modals %>
    <%= yield :js %>
  </body> 
</html>
