<div class="container-fluid">
  <h1> Dashboard</h1> 
  <%= render "components/dashboard/system_counts" %>
  <%= render "components/dashboard/file_types_counts_by_form" %>
  <%= render "components/dashboard/fixity_info" %>
  <%= render "components/dashboard/virus_info" %>
  <%= render "components/dashboard/file_types_total_counts" %>
  <%= render "components/dashboard/drive_space_info" %>
  <%= render "components/dashboard/media_info" %>
</div>
		