<div class="col-12">
  <%= form_for [:admin, watermark], html: { multipart: true } do |form| %>
    <% if watermark.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(watermark.errors.count, "error") %> prohibited this watermark from being saved:</h2>

        <ul>
          <% watermark.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
      <div class="field"> 
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field"> 
        <%= form.label :image, 'Upload Watermark' %>   
        <%= form.file_field :image, multiple: false %> 
      </div>
      
      <% if watermark.image.attached? %> 
        <div class="attached-image mt-3 col-6"> 
          <%= image_tag watermark.image, class: 'img-thumbnail img-fluid' %>
        </div>

        <div class="micro-text"> Current Watermark </div>
      <% end %> 

    <div class="actions">    
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
