  <%= form_with model: CheckField.new(), class: 'something' do |f| %>
    <!-- General Components -->
    <%= render "components/form_builder/fields/shared/general", form: f %>
    <%= render "components/form_builder/fields/shared/metadata_schemas", metadata_mapping_form: f %>
    <%= render "components/form_builder/fields/shared/field_help", form: f %>

    <!-- Choices Specific -->
    <fieldset data-controller="choices-field">
      <legend> Choices </legend>

      <div class="row"> 
        <div class="field col">
          <%= f.label :choice_type %>
          <!-- Icon -->
          <span class="far fa-question-circle field-help" data-toggle="popover" data-trigger="click hover" data-content="Select manual choices or choices by linking the data to another specifically a metadata form."></span>
          <div class="select-style"> 
            <%= f.select :choice_type,  f.object.class.choice_types.map {|k, v| [k.humanize.titleize, v]}, {}, {} %>
          </div>
        </div>
      </div>

      <div class="row">
        <%= f.hidden_field :default_choice, {data: { target: 'choices-field.defaultChoice' }} %>
        <div class="field col">
          <%= f.label :choices %>
          <div class="choices-container" data-target="choices-field.container">
            <%= render "components/form_builder/fields/shared/choice_group", f: f %>
          </div>

          <div class="hidden d-none" data-target="choices-field.choiceHtml" data-html='<%= render "components/form_builder/fields/shared/choice_group", f: f %>'></div>
        </div>      
      </div>
    </fieldset>

    <!-- Shared Valdiations and Options -->
    <%= render "components/form_builder/fields/shared/field_options", form: f %>
    <%= render "components/form_builder/fields/shared/validation", form: f %>
  <% end %>