<div class="upload-options" data-controller="conversions"> 
  <% form_builder_path = "components/form_builder/fields/file_uploads" %>

  <!-- Options and Allowed Extensions --> 
  <%= render "#{form_builder_path}/allowed_extensions" %>
  <%= render "#{form_builder_path}/upload_options" %>

  <!-- Image -->
  <%= render "#{form_builder_path}/image_conversions" %>
  <%= render "#{form_builder_path}/thumbnail" %>
  <%= render "#{form_builder_path}/border" %>
  <%= render "#{form_builder_path}/watermarks"%>

  <!-- Audio -->
  <%= render "#{form_builder_path}/audio_conversions" %>

  <!-- Video -->
  <%= render "#{form_builder_path}/video_conversions" %>
  <%= render "#{form_builder_path}/video_thumbnail" %>

</div> 