<div class="upload-options" data-controller="file_options"> 

  <!-- Options and Allowed Extensions --> 
  <%= render "components/form_builder/fields/file_uploads/allowed_extensions" %>
  <%= render "components/form_builder/fields/file_uploads/upload_options" %>

  <!-- Image -->
  <%= render "components/form_builder/fields/file_uploads/image_conversions" %>
  <%= render "components/form_builder/fields/file_uploads/thumbnail" %>
  <%= render "components/form_builder/fields/file_uploads/border" %>

  <!-- Audio -->
  <%= render "components/form_builder/fields/file_uploads/audio_conversions" %>

  <!-- Video -->
  <%= render "components/form_builder/fields/file_uploads/video_conversions" %>
  <%= render "components/form_builder/fields/file_uploads/video_thumbnail" %>

</div> 