  <%= form_with model: TextField.new(), class: 'something' do |f| %>
    <!-- General Components -->
    <%= render "components/form_builder/fields/shared/general", form: f %>
    <%= render "components/form_builder/fields/shared/metadata_schemas", metadata_mapping_form: f %>
    <%= render "components/form_builder/fields/shared/field_help", form: f %>

    <!-- Text Specific -->
    <fieldset>
      <legend> Text Formatting </legend>

      <div class="row no-gutters">
        <div class="field col col-sm-2"> 
          <%= f.label :min %>
          <%= f.number_field :min %>
        </div>        
        <div class="field col col-sm-2"> 
          <%= f.label :max %>
          <%= f.number_field :max %>
        </div>
        <div class="field col-sm"> 
          <%= f.label :format %>
          <div class="select-style">
            <%= f.select :format, f.object.class.formats.map {|k, v| [k.humanize.titleize, k]}, { selected: f.object.format}, {class: ''} %> 
          </div>
        </div>
      </div>
    </fieldset>

    <!-- Shared Valdiations and Options -->
    <%= render "components/form_builder/fields/shared/field_options", form: f %>
    <%= render "components/form_builder/fields/shared/validation", form: f %>
  <% end %>