<fieldset class="commonFieldSettings" data-controller="general-validations"> 
  <legend> General </legend>

  <%= hidden_field_tag :field_id %>
  <%= hidden_field_tag :type %>

  <div class="row">
    <div class="field col"> 
      <!-- Label -->
      <%= label_tag :name, :name, class:'required' %> 
      <!-- Popover -->
      <span class="far fa-question-circle field-help" data-toggle="popover" data-trigger="click focus hover" data-content="The field name is a unique value that is used to identify a field."></span>
      <!-- field --> 
      <%= text_field_tag :name, nil,  data: { action: "keyup->general-validations#validName"} %>
      <!-- error -->
      <div class="error-issue text-danger d-none"> 
       <%= I18n.t 'form_builder.no_spaces_error' %>
      </div>
    </div>
    <div class="field col">
      <!-- Label -->
      <%= label_tag :label, :label, class:'required' %>
      <!-- Popover -->
      <span class="far fa-question-circle field-help" data-toggle="popover" data-trigger="click focus hover" data-content="The field label tells your users what to enter in this field."></span>
      <!-- field --> 
      <%= text_field_tag :label %> 
    </div>
  </div>

  <div class="row"> 
    <div class="field col">
      <!-- Label -->
      <%= label_tag :value %>
      <!-- Popover -->
      <span class="far fa-question-circle field-help" data-toggle="popover" data-trigger="click focus hover" data-content="When the form is first displayed, this value will already be prepopulated."></span>
      <span class="fas fa-info-circle field-help" data-toggle="modal" data-target="#exampleModalCenter"></span>
      <!-- field --> 
      <%= text_field_tag :value %> 
    </div>

    <div class="field col">
      <!-- Label -->
      <%= label_tag :placeholder %>
      <!-- Popover -->
      <span class="far fa-question-circle field-help" data-toggle="popover" data-trigger="click focus hover" data-content="The value that appears in the field, but is only there as placeholder text until the field has been filled out.  A good place for an example of data that should be there."></span>
      <!-- field --> 
      <%= text_field_tag :placeholder %> 
    </div>
  </div>
  
  <div class="row"> 
    <div class="field col">
      <!-- Label -->
      <%= label_tag :css_id, 'CSS ID' %>
      <!-- Popover -->
      <span class="far fa-question-circle field-help" data-toggle="popover" data-trigger="click focus hover" data-content="The ID is a unique value that can be used to identify a field."></span>
      <!-- field --> 
      <%= text_field_tag :css_id, nil, data: { action: "keyup->general-validations#validName"} %>
      <!-- error -->
      <div class="error-issue text-danger d-none"> 
        <%= I18n.t 'form_builder.no_spaces_error' %>
      </div>
    </div>

    <div class="field col">
      <!-- Label -->
      <%= label_tag :css_class %>
      <!-- Popover -->
      <span class="far fa-question-circle field-help" data-toggle="popover" data-trigger="click focus hover" data-content="Classes can be entered to give the field a different look and feel."></span>
      <!-- field --> 
      <%= text_field_tag :css_class, nil, data: { action: "keyup->general-validations#validName"} %>
      <!-- error -->
      <div class="error-issue text-danger d-none"> 
       <%= I18n.t 'form_builder.no_spaces_error' %>
      </div>
    </div>

    <div class="field col">
      <!-- Label -->
      <%= label_tag :sort_order %>
      <!-- Popover -->
      <span class="far fa-question-circle field-help" data-toggle="popover" data-trigger="click focus hover" data-content="Sort order Number, updated automatically, but you can change it to be a higher number."></span>
      <!-- field --> 
      <%= number_field_tag :sort_order %> 
    
    </div>
  </div>

  <div class="row"> 
    <div class="field col"> 
      <!-- Label -->
      <%= label_tag :local_styles %>
      <!-- Popover -->
      <span class="far fa-question-circle field-help" data-toggle="popover" data-trigger="click focus hover" data-content="You can set any HTML styles and they will only apply to this field.  This should only be done if you know exactly what your doing because it may cause accessibility issues."></span>
      <!-- field --> 
      <%= text_field_tag :local_styles %> 
    </div>
  </div>
</fieldset>

<%= content_for :modals do %>
<!-- Variable Modal --> 
<div class="modal fade" id="exampleModalCenter" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> Variable Values </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	        <strong>User</strong>
	        <ul>
	            <li><strong>%userid%</strong><br>The user id for the currently logged in user. (<em>Example: 28</em>)</li>
	            <li><strong>%username%</strong><br>The username for the currently logged in user. (<em>Example: jsmith</em>)</li>
	            <li><strong>%firstname%</strong><br>The first name for the currently logged in user. (<em>Example: Joesph </em>)</li>
	            <li><strong>%lastname%</strong><br>The last name for the currently logged in user. (<em>Example: Smith</em>)</li>
	        </ul>
	        <hr>
	        <strong>Static Date/Time</strong>
	        <ul>
	            <li><strong>%date%</strong><br>The current date as MM/DD/YYYY. (<em>Example: 2019-10-17</em>)</li>
	            <li><strong>%time%</strong><br>The current time as HH:MM:SS. (<em>Example: 09:12:12</em>)</li>
	            <li><strong>%time12%</strong><br>The current 12-hr time. (<em>Example: 9:12:12 AM</em>)</li>
	            <li><strong>%time24%</strong><br>The current 24-hr time. (<em>Example: 09:12:12</em>)</li>
	            <li><strong>%timestamp%</strong><br>The current UNIX system timestamp. (<em>Example: 1571317932</em>)</li>
	        </ul>
	        <hr>
	        <strong>Custom Date/Time</strong>
	        <ul style="list-style: none;">
	            <li>
	                <strong>%date(FORMAT)%</strong><br>
	                You can specify a custom format when creating dates and times where FORMAT is a ruby function <a href="https://apidock.com/ruby/DateTime/strftime" target="_blank"> strftime </a> which formats date and time objects as custom strings.
	                <br/><br/>
	                <strong><em>Example:</em></strong> %date('%A, %B %d %Y')% becomes <%= Time.now.strftime('%A, %B %d %Y') %>.
              </li>
	        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>