<fieldset class="numberFieldSettings">
  <legend> Number Formatting </legend>

  <div class="row no-gutters">
    <div class="field col"> 
      <%= label_tag :step %>
      <%= number_field_tag :step %>
    </div>        
    <div class="field col"> 
      <%= label_tag :min_number %>
      <%= number_field_tag :min_number %>
    </div>
    <div class="field col"> 
      <%= label_tag :max_number %>
      <%= number_field_tag :max_number%>
    </div>
  </div>
</fieldset>