<fieldset class="fileFieldSettings">
  <legend> Image Options </legend>

  <div class="row no-gutters input-group">
    <div class="field col">
      <%= label_tag :image_height %>
      <%= text_field_tag :image_height %>
    </div>

    <div class="field col">
      <%= label_tag :image_width %>
      <%= text_field_tag :image_width %>
    </div>

    <div class="field col">
      <%= label_tag :image_resolution %>
      <%= text_field_tag :image_resolution %>
    </div>  

    <div class="field col">
      <%= label_tag :image_format %>
      <div class="select-style col">
        <%= select_tag :image_format, options_for_select(I18n.t 'form_builder.image_file_types', ''),  include_blank: "Image Format" %>
      </div>
    </div>

  </div>
</fieldset>