<section>
    <div>
    <h2> System Counts </h2>
    <p>
        <strong class="fileItem">Total Objects in system: </strong>
        <span class="fileCount"><%= @total_digital_objects %></span>
    </p>
    <p>
        <strong class="fileItem">Total Metadata Objects: </strong>
        <span class="fileCount"><%= @total_metadata_objects %></span>
    </p>
    <p>
        <strong class="fileItem">Total Object Forms: </strong>
        <span class="fileCount"><%= @object_form_count %></span>
    </p>
    <p>
        <strong class="fileItem">Metadata Forms in Production: </strong>
        <span class="fileCount"><%= @metadata_forms_production_count %></span>
    </p>
    <p>
        <strong class="fileItem">Total Metadata Forms: </strong>
        <span class="fileCount"><%= @metadata_form_count %></span>
    </p>
    </div>
</section>