 <%= form_tag '/forms/new', data: {action: "submit->form-builder#saveFields", target: "form-builder.fieldSettingsForm" } do |f| %>
    <!-- Warning for use when no form is selected -->
    <div class="alert alert-warning" data-target="form-builder.warningMessage">
        <strong>No Field Selected</strong>
        <p> To change a field, click on it in the form preview to the right. </p>
    </div>

    <!-- Basic Form Stuff -->
    <%= render "components/form_builder/fields/general" %>
    <%= render "components/form_builder/fields/metadata_schemas" %>
    <%= render "components/form_builder/fields/field_help" %>

    <!-- Type Specific -->
    <%= render "components/form_builder/fields/idno_field" %>
    
    <!-- Field Specific -->
    <%= render "components/form_builder/fields/text_field" %>
    <%= render "components/form_builder/fields/number_field" %>

    <!-- Options / Chocies --> 
    <%= render "components/form_builder/fields/choice_field" %>

    <!-- File Upload -->
    <%= render "components/form_builder/fields/file_upload" %>

    <!-- Shared -->
    <%= render "components/form_builder/fields/field_options" %>
    <%= render "components/form_builder/fields/validation" %>


    <%#  button_tag(raw('<span class="fas fa-save"></span> Save Settings'), {data: { action: "click->form-builder#saveFieldSettings" }, class:'btn btn-info col'}) %> 

  <% end %>