  <% used_forms = [] %>
  
  <div class="col-12" id="test"> 
    <h2> Select a Form </h2>
  </div>
  
  
  <% @form.each do |f| %>
    <% unique_id = "form_#{f.id}" %>
    <div class="card card-default col-12 mb-1">
      <div class="card-header row no-gutters border p-0">
          <div class="col-8 col-md-6 col-lg-10"> 
            <a href="/forms/<%=f.id%>/edit" class="form-link col d-inline-block p-2"> <%= f.title || f.display_title %> 
            </a>
            <a href="/forms/<%=f.id%>" class="form-link col d-inline-block p-1"> <span class="fas fa-eye"></span>
            </a>
          </div> 

          <div class="col-4 col-md-6 col-lg-2">
            <div class="row no-gutters">
              <button class="col btn btn-default border-left rounded-0 p-1"> 
                <span class="fas fa-list-ol"></span>
              </button>
              <button class="col btn btn-default border-left rounded-0 p-1">       <span class="fas fa-list-ul"></span>
              </button>
              <button class="col btn btn-default border-left rounded-0 p-1">       <span class="fas fa-images"></span>
              </button>
              <button class="col btn btn-default border-left rounded-0 p-1"
              type="button" data-toggle="collapse" data-target="#<%= unique_id %>" aria-expanded="false" aria-controls="<%= unique_id %>"
              >       <span class="fas fa-plus-square"></span>
              </button>
            </div>
        </div>
      </div>
      <div class="collapse" id="<%=unique_id%>">
        <div class="card-body border">
          <ul>

          </ul>
        </div>
      </div>
    </div>
  <% end %>

<div class="col-12"> 
<h3> Unassigned Metadata Forms </h3>
  <% unused_forms = @metadata_forms.find_all { |form| !used_forms.uniq.include?(form.id) } %>
  <ul>
  <% unused_forms.each do |uf| %> 
    <li>
      <a href="#link/<%=uf.id%>">
        <%= uf.display_title %>
      </a>
    </li> 
  <% end %>
  </ul>
</div>
