<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1> Form Creator </h1>
    </div>
  </div> 
  
    <!--  ============================================================================= -->
    <!-- Control Panel =============================================================== -->
    <!-- ============================================================================= -->
  <div class="row" data-controller="form-builder form-preview">
    <div class="form-control-panel col-md-6 p-3" id="controlPanel">
      <div class="menu btn-group d-flex mb-3" role="group" aria-label="Form Control Panel"> 
          <button type="button" class="btn btn-secondary w-100" data-toggle="collapse" role="button" aria-expanded="false" data-target="#addFields" aria-controls="addFields"> Add A Field </button>
          <button type="button" class="btn btn-secondary w-100" data-target="#fieldSettings" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="fieldSettings">Field Settings</button>
          <button type="button" class="btn btn-secondary w-100 active" data-target="#formSettings" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="formSettings">Form Settings</button>
      </div>

      <div class="form-container"> 


        <div id="formSettings" class="collapse show" data-parent="#controlPanel">
          <%= form_for @form, url: { action:'create' }, html: { class:'form-builder' } do |f| %>
            <% if @form.errors.any? %>
              <div id="error_explanation">
                <h3><%= pluralize(f.errors.count, "error") %> prohibited this subject from being saved:</h3>
                <ul>
                <% @form.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <%= render 'components/form_builder/form_settings', form: f %>
          <% end %>
        </div>
        <div id="addFields" class="collapse" data-parent="#controlPanel"> 
          <%= render 'components/form_builder/add_fields' %>
        </div>
        <div id="fieldSettings" class="collapse" data-parent="#controlPanel">
          <%= form_for :form_fields do |f| %>
            <%= render "components/form_builder/fields/shared/general", form: f %>
            <%= render "components/form_builder/fields/shared/metadata_schemas", form: f %>
            <%= render "components/form_builder/fields/shared/field_help", form: f%>
            <%= render "components/form_builder/fields/shared/field_options", form: f %>
            <%= render "components/form_builder/fields/shared/validation", form: f %>
          <% end %>
        </div>
      </div>

    </div>

    <!-- ============================================================================= -->
    <!-- Form Preview ================================================================ -->
    <!-- ============================================================================= -->
    <div class="form-preview col-md-6">
      <div class="title h2" data-target="form-preview.title"> </div>
      <div class="display-title h2" data-target="form-preview.displayTitle"> </div>
      <div class="description lead" data-target="form-preview.description"> </div>
      <!-- Fields Here --> 
      <div class="fields" data-target="form-builder.formPreview"> 
      
      </div>

      <div class="buttons row"> 
        <button class="col btn btn-primary" type="button" disabled data-target="form-preview.submitButton"></button>
        <button class="col btn btn-primary" type="button" disabled data-target="form-preview.updateButton"></button>
      </div>
    </div>
  </div>
</div>

<!-- ============================================================================= -->
<!-- Content Yield for JS / CSS ================================================== -->
<!-- ============================================================================= -->
<%= content_for :js do %>
  <%= javascript_pack_tag 'form_builder', 'data-turbolinks-track': 'reload' %>
<% end %>