<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1> Form Creator </h1>
    </div>
  </div> 
  
    <!--  ============================================================================= -->
    <!-- Control Panel =============================================================== -->
    <!-- ============================================================================= -->
  <div class="row">
    <div class="form-control-panel col-sm-4 p-3" id="controlPanel">
      <div class="menu btn-group d-flex mb-3" role="group" aria-label="Form Control Panel"> 
          <button type="button" class="btn btn-secondary w-100" data-toggle="collapse" role="button" aria-expanded="false" data-target="#addFields" aria-controls="addFields"> Add A Feild </button>
          <button type="button" class="btn btn-secondary w-100" data-target="#fieldSettings" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="fieldSettings">Field Settings</button>
          <button type="button" class="btn btn-secondary w-100 active" data-target="#formSettings" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="formSettings">Form Settings</button>
      </div>

      <div class="form-container" data-controller="form-builder"> 
      <%= form_for @form, url: { action:'create' }, html: { class:'form-builder' } do |f| %>
        <% if @form.errors.any? %>
          <div id="error_explanation">
            <h3><%= pluralize(f.errors.count, "error") %> prohibited this subject from being saved:</h3>

            <ul>
            <% @form.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div id="formSettings" class="collapse show" data-parent="#controlPanel"> 
          <%= render 'components/form_builder/form_settings', form: f %>
        </div>
        <div id="addFields" class="collapse" data-parent="#controlPanel"> 
          <%= render 'components/form_builder/add_fields', form: f %>
        </div>
        <div id="fieldSettings" class="collapse" data-parent="#controlPanel">
          Field Settings Here
        </div>
      </div>
      <% end %>
    </div>

    <!-- ============================================================================= -->
    <!-- Form Preview ================================================================ -->
    <!-- ============================================================================= -->
    <div class="form-preview col-sm-8"> </div>
  </div>
</div>

<!-- ============================================================================= -->
<!-- Content Yield for JS / CSS ================================================== -->
<!-- ============================================================================= -->
<%= content_for :js do %>
  <%= javascript_pack_tag 'form_builder', 'data-turbolinks-track': 'reload' %>
<% end %>