<div class="row"> 
  <div class="col-12">
  <h2> Form Titles </h2>
    <p> <strong> Title: </strong> <%= @form.title %> </p>
    <p> <strong> Display Title: </strong> <%= @form.display_title %> </p>
    <p> <%= @form.description.to_s.strip %>  </p>
  </div>
</div>

<div class="row"> 
  <div class="col-12"> 
    <h2> Form Settings</h2>
    <p> Have Not Been Integrated Yet </p>
  </div>
</div>

<div class="row"> 
  <h2> Form Preview </h2>
  <div class="col-12"> 
    <form class="disabled">
    <% @form.fields_hash.each do |field| %>
      <% presenter = FieldBuilder::Presenter.new(field, current_user, 'preview') %>
      <%= presenter.type.html.html_safe %> 
    <% end %>
    </form>
  </div>
</div>

<div class="row"> 
  <h2 class="col-12"> Form Permissions </h2>

  <div class="col"> 
    <strong> Data Entry Users (<%= @form.creators.count %> of  <%= @form.permissions.count %>) </strong>
    <ul> 
      <% @form.creators.each do |creator| %>
        <li> <%= creator.user.name %> </li>
      <% end %>
    </ul>
  </div>

  <div class="col"> 
    <strong> Data Viewers (<%= @form.viewers.count %> of  <%= @form.permissions.count %>) </strong>
     <ul> 
      <% @form.viewers.each do |viewer| %>
        <li> <%= viewer.user.name %> </li>
      <% end %>
    </ul>
  </div>

  <div class="col"> 
    <strong> Form Admins (<%= @form.admins.count %> of  <%= @form.permissions.count %>) </strong>
     <ul> 
      <% @form.admins.each do |admin| %>
        <li> <%= admin.user.name %> </li>
      <% end %>
    </ul>    
  </div>

  <div class="col"> 
    <strong> Contacts (<%= @form.contacts.count %> of  <%= @form.permissions.count %>) </strong>
    <ul> 
      <% @form.contacts.each do |contact| %>
        <li> <%= contact.user.name %> </li>
      <% end %>
    </ul>
  </div>
</div>