<h2 class="mb-2"> Metadata Items for <%= @form.display_title %> </h2>

<% unless @items.present? %>
  This form currently has no items or objects associated with it. 
<% else %>
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr class="d-flex">
          <th class="col-1"> # </th>
          <% @items.first.data.each do |key, value| %>
            <th class="col"> <%= key.capitalize %></th>
          <% end %>
          <th class="col-1 text-center"> Edit </th>
          <th class="col-1 text-center"> Delete </th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr class="d-flex">
            <th class="col-1"> <%= item.id %> </th>
            <% item.data.each do |key, value| %>
              <td class="col"> <%= value %> </td>
            <% end %>
            <td class="col-1 text-center"><%= link_to raw('<span class="fas fa-edit"></span>'), items_edit_metadata_path(item) %></td>
            <td class="col-1 text-center"><%= link_to raw('<span class="fas fa-trash"></span>'), items_destroy_metdata_path(item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>