<ul>
	<!-- FLoat Right -->
	<li><a href="/forms/<%=@item.form_id%>/edit/">Edit Form</a></li>
	<li><a href="/items/digital_objects/<%=@item.id%>/revisions/">Revisions</a></li>
	<li><a href="/items/digital_objects/<%=@item.id%>/unlock_cancel">Cancel Edit &amp; Unlock object</a></li>
	<li><a href="/items/digital_objects/<%=@item.id%>/history">History</a></li>
	<li><a href="https://github.com/wvulibraries/mfcs/wiki/Entering-Metadata" target="_blank"> <span class="fa fa-book"></span> Documentation</a></li>
	<li><a href="/items/digital_objects/<%=@item.id%>/reprocess">Reprocess Object</a></li>	
</ul>