<div class="tab-pane" id="project">
    <h2>Change Project Membership</h2>
    <% presenter = DigitalObjects::ProjectsPresenter.new %>
    <ul class="checkboxList">
        <% presenter.project_list.each do |project| %>
            <li>
                <input type="checkbox" name="project_ids[]" value="<%= project[:id] %>" id="project_<%= project[:id] %>" <%= @item.project_ids.include?(project[:id]) ? 'checked' : '' %> />
                <label for="project_<%= project[:id] %>"><%= project[:name] %></label>
            </li>
        <% end %>
    </ul>
</div>