<!DOCTYPE html>
<html>
  <head>
    <title>Mfcs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <!-- Header -->
    <%= render "components/header/header" %>

    <!-- Breadcrumbs -->
    <%= render "components/top_bar/top_bar" %>
    
    <!-- Alerts -->
    <%= render "components/alerts/alerts" %>

    <!-- Content Yield -->
    <main> 
      <%= yield %>
    </main> 
    
    <!-- Logout ... change this at somepoint. -->
    <%# link_to('Logout', destroy_user_session_path, method: :delete) %>

    <!-- Footer -->
    <%= render "components/footer/footer" %>
    
    <!-- Webpack JS -->
    <%= javascript_pack_tag 'application' %>
  </body> 
</html>
